@import url("whitespace-reset.css");

/*General*/
body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.completed p,
.completed a {
  text-decoration: line-through;
}

nav,
main {
  padding-top: 70px;
}

h1 {
  font-size: 18px;
  height: 3rem;
  padding-top: 15px;
  font-weight: normal;
  box-sizing: border-box;
}

h2 {
  font-size: 22px;
  color: #050505;
  font-weight: normal;
}

/*Nav*/
nav {
  display: inline-block;
  float: left;
  width: 335px;
  background-color: #464f77;
  height: 100%;
  color: #fff;
}

nav #all {
  margin-bottom: 30px;
}

nav li {
  height: 2.8rem;
  padding-top: 15px;
  box-sizing: border-box;
}

nav h1:before {
  display: inline-block;
  margin: 0 6px 0 -34px;
  vertical-align: middle;
  content: '';
  width: 26px;
  height: 26px;
  background-color: #fff;
}

nav #all h1:before {
  background: url('https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/label.png')
}

nav #completed h1:before {
  background: url('https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/completed.png')
}

nav h1 span {
  display: inline-block;
  padding: 0 10px;
  margin: 4px 30px 0 0;
  border-radius: 35%;
  color: rgba(255, 255, 255, 0.5);
}

nav .highlighted {
  background-color: #383f5f;
}

nav .highlighted p {
  color: #fff;
}

nav .highlighted span {
  background-color: #148fd5;
  color: #fff;
}

nav p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

nav span {
  float: right;
  font-size: 14px;
  margin-right: 35px;
  background-color: #6b7292;
  padding: 0 4px;
  border-radius: 50%;
}

nav h1,
nav li {
  cursor: pointer;
  padding-left: 130px;
}

/*Main*/
.completed a {
  color: rgb(179, 179, 179);
}

.minimized {
  margin-left: 355px;
}

main {
  /*float: left;*/
  margin-left: 355px;
  padding-right: 20px;
  max-width: 1000px;
  /*width: 60%;*/
}

main h2,
main > a {
  padding-left: 20px;
}

main > a,
main li {
  display: block;
  height: 3rem;
  box-sizing: border-box;
}

main .trash {
  float: right;
  width: 10%;
  height: 100%;
  background: url("https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/trash.png") no-repeat scroll center transparent;
  box-sizing: border-box;
  padding: 12px 12px 18px 12px;
  vertical-align: middle;
  cursor: pointer;
}

main .trash:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

main li {
  border-top: 1px solid #e7e7e7;
}

main .main_list_item {
  display: inline-block;
  padding: 16px 0 0 20px;
  width: 90%;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

main .main_list_item:hover {
  background-color: rgba(0,100,205, 0.2);
}

main > a:before,
main .checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 25px 0 0;
  content: '';
  background-color: #fff;
}

main > a:before {
  background: url('https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/plus.png')
}

main .checkbox {
  float: left;
}

main .completed .checkbox {
  content: url('https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/checked.png');
  background-color: #fff;
}

main h2 {
  margin-bottom: 30px;
}

main > a,
main li a:hover {
  color: #148fd5;
}

main span#main_list_count {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 20px;
  background-color: #148fd5;
  color: #fff;
  padding: 0 4px;
  border-radius: 50%;
}

/*Modal*/
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
}

form {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  height: 411px;
  width: 575px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px 40px;
}

#modal dd {
  float: right;
  width: 80%;
}

#modal dl {
  height: 300px;
}

#modal dd,
#modal dt {
  display: inline-block;
  height: 3rem;
}

#modal dt {
  padding-top: 8px;
  width: 20%;
  color: #757575;
}

.button_holder {
  margin-left: 20%;
  width: 80%;
}

.button_holder a,
.button_holder button {
  display: inline-block;
  width: 45%;
  color: #fff;
  background-color: #148fd5;
  border-radius: 6px;
  margin-right: 4%;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

/*clearfix*/
#modal dl:after {
  display: block;
  clear: both;
  content: '';
}

#modal input,
#modal textarea {
  width: 100%;
}

#modal input,
#modal select,
#modal textarea {
  color: #757575;
  font-size: 1rem;
  height: 2.5rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 5px 8px;
  border-radius: 6px;
}

#modal textarea {
  resize: none;
  height: 10rem;
}

#modal select {
  width: 31%;
}

/*Media Queries*/
@media (max-width: 768px) {
  nav {
    display: none;
  }
  main {
    margin-left: 20px;
  }
  #hamburger {
    width: 23px;
    height: 18px;
    margin: -20px 0 40px 20px;
    background: url("https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/hamburger.png") no-repeat scroll center transparent;
    cursor: pointer;
  }
}

/*images:*/
/*hamburger: https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/hamburger.png*/
/*plus: https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/plus.png*/
/*checkbox: https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/checkbox.png*/
/*trash: https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/trash.png*/
/*all lists: https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/label.png*/
/*completed: https://d3905n0khyu9wc.cloudfront.net/assessment/todo-js/images/completed.png*/
